* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #ffd3e5, #ffe8f1);
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    padding: 2%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 700px;
    height: 700px;
    border-radius: 10px;
    background-color: #ffedf8;
}

.cake-container {
    position: relative;
    display: flex;
}

.title{
    opacity: 0;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 50%;
    color: #cb98e3;
    font-family: 'Rampart One', sans-serif;

}




.birthday-cake {
    position: relative;
}

.holder {
    position: absolute;
    width: 350px;
    height: 20px;
    border-radius: 100px;
    background-color:#fbf7fc;
    left: -160px;
    top: 10px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.1);
    
   
}

.holder:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 150px;
    background-color:#eedcf7;
    left: 130px;
    top: 20px;
}

.holder:after {
    content: "";
    position: absolute;
    background-color: #ffedf8; 
    width: 100px;
    height: 135px;
    border-radius: 30px 30px 0 0;
    left: 59px;
    top: 20px;
    box-shadow: 125px 0 #ffedf8;
}

.shadow {
    position: absolute;
    width: 350px;
    height: 20px;
    border-radius: 50%;
    top: 170px;
    left: -160px;
    background-color: rgba(0, 0, 0, 0.095);
    z-index: 1;
}

.shadow:before {
    content: "";
    position: absolute;
    background-color:#eedcf7;
    width: 150px;
    height: 20px;
    border-radius: 30px 30px 5px 5px;
    top: -10px;
    left: 96px;
}

.cake {
    position: absolute;
    overflow: hidden;
    width: 275px;
    height: 140px;
    background-color: #fbd3cb;
    top: -130px;
    left: -120px;
    border-radius: 30px 30px 0 0;
}

.cake:before {
    content: "";
    background-color: #f5a89f; 
    width: 275px;
    height: 15px;
    position: absolute;
    top: 75px;
    box-shadow: 0 30px #f5a89f;
}

.cake:after {
    content: "";
    position: absolute;
    background-color: #d46c61;
    width: 275px;
    height: 40px;
    box-shadow: inset 0 10px rgba(0, 0, 0, 0.07);
}

.chocolate {
    position: absolute;
    background-color: #d46c61; 
    width: 25px;
    height: 45px;
    top: 25px;
    left: 0;
    z-index: 2;
    border-radius: 50px;
    box-shadow: 25px 2px #fbd3cb, 50px -10px #d46c61, 75px -5px #fbd3cb, 100px 3px #d46c61, 125px 0 #fbd3cb, 150px -5px #d46c61, 175px 3px #fbd3cb, 200px -5px #d46c61, 225px -10px #fbd3cb, 250px 4px #d46c61;
}

.candle {
    position: absolute;
    width: 15px;
    height: 70px;
    background-color: #fff;
    top: -200px;
    left:6px;
}

.candle:before {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #f6cefc;
    content: "";
    top: 10px;
    box-shadow: 0 25px #f6cefc;
}

.candle:after {
    content: "";
    width: 2px;
    height: 15px;
    content: "";
    position: absolute;
    background-color: #000;
    top: -15px;
    left: 6px;
}

.flame {
    position: absolute;
    background-color: #f4d03f;
    opacity: 0.9;
    box-shadow: inset 0 -5px 5px #d35400, 5px -5px 20px #fbffa3;
    width: 20px;
    height: 40px;
    top: -245px;
    border-radius: 100% 30% 50% 50%;
    left: 5.111px;
    animation: flame 1s infinite;
}

.smoke {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 100% 30% 50% 50%;
    top: -230px;
    left: 9px;
    animation: smokeAnimation 10s forwards;
    transform-origin: center bottom;
    z-index: 1;
}


@keyframes smokeAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes flame {
    from,
    to {
        transform: scale(1,1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}